<div class="main-div">
	<div class="page-title">
		<h1 class="pull-left">View Blog Post</h1>
		<div class="pull-right">
			<a href="/blog_posts/<%= @blog_post.id %>/edit" class="add-btn blue-bg"><i class="icon icon-edit-1"></i> Edit</a>
			<a href="/blog_posts" class="add-btn"><i class="icon icon-left-arrow"></i> Back</a> 			
		</div>
	</div>
	<div class="white-bg">
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<div class="form-group">
	                <label>Title</label>
	                <%= text_field_tag :title, @blog_post.title, readonly: true, class: "form-control"%>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<div class="form-group">
	                <label>Group</label>
	                <%= text_field_tag :patient_group_id, (@blog_post.patient_group.name rescue ""), readonly: true, class: "form-control"%>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<div class="form-group">
	                <label>Subtitle</label>
	                <%= text_field_tag :subtitle, @blog_post.subtitle,readonly: true, class: "form-control"%>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<div class="form-group">
	                <label>URL</label>
	                <%= text_field_tag :url, @blog_post.url, readonly: true, class: "form-control"%>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<div class="form-group">
					<label>Image/Video/Blog Upload</label>
					<% if @blog_post.has_asset? %>
						<% if @blog_post.content_type == "image" %>
							<%= image_tag @blog_post.data.url, class: "blog-asset" %>
						<% else %>
							<%= video_tag @blog_post.data.url, controls: true, autobuffer: true, class: "blog-asset" %>
						<% end %>
					<% else %>	
						<%= text_field_tag :asset, "No image/video uploaded", readonly: true, class: "form-control"%>	
					<% end %>		
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<div class="form-group">
	                <label>Description</label>
	                <%= text_area_tag :description, @blog_post.description, readonly: true, class: "form-control non-resize-scroll", rows: 5, resizable: false%>
				</div>
			</div>
		</div>		
	</div>
</div>
