
				<div class="white-bg">
					
					<%= form_for(@counsellor) do |f|%>

					<div class="row">
						<div class="col-md-2 col-sm-3 col-xs-12">
							<div class="form-group">
							  <label>First Name</label>
							  <%= f.text_field :first_name, :class=>"form-control" %>
							</div>
						</div>
						<div class="col-md-2 col-sm-3 col-xs-12">
							<div class="form-group">
							  <label>Last Name</label>
							  <%= f.text_field :last_name, :class=>"form-control" %>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="form-group">
								<label>Email</label>
							  <%= f.text_field :email, :class=>"form-control" %>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="form-group">
								<label>Speciality</label>
								<select class="form-control">
									<option>Speciality</option>
									<option>Speciality</option>
									<option>Speciality</option>
									<option>Speciality</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="form-group">
								<label>Profile</label>
							  <%= f.text_field :profile, :class=>"form-control" %>
							</div>
						</div>
						
					</div>
					
					<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="form-group">
								<label>HCAH Landline</label>
							  <%= f.text_field :hcah_landline, :class=>"form-control" %>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="form-group">
								<label>Mobile</label>
							  <%= f.text_field :mobile, :class=>"form-control" %>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 col-sm-4 col-xs-12">
							<div class="form-group">
								<button class="add-btn blue-bg btn-lg"><i class="icon icon-paper-plane"></i> Submit</button>
							</div>
							
						</div>
					</div>

					<%end%>
				</div>
				