
				<div class="white-bg">
					
					<%= form_for(@counsellor) do |f|%>

					<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="form-group">
						  <label>Add Profile Picture</label>
							<div class="profile-pic-box">
							<%if @counsellor.profile_pic.blank?%>
								<img src="/assets/profile-pic.png" id = "profile">
							<%else%>
								<img src=<%= @counsellor.profile_pic.url%> id = "profile">
							<%end%>	
								<%= f.file_field :profile_pic,:accept=> "image/*",:id => "counsellor-profile"%>
							</div>
						</div>
					</div>
					</div>

					<div class="row">
						<div class="col-md-2 col-sm-3 col-xs-12">
							<div class="form-group">
							  <label>First Name</label>
							  <%= f.text_field :first_name, :class=>"form-control",:placeholder => "First Name" %>
							</div>
						</div>
						<div class="col-md-2 col-sm-3 col-xs-12">
							<div class="form-group">
							  <label>Last Name</label>
							  <%= f.text_field :last_name, :class=>"form-control",:placeholder => "Last Name" %>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="form-group">
								<label>Email</label>
							  <%= f.text_field :email, :class=>"form-control",:placeholder => "xyz@example.com" %>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="form-group">
								<label>Speciality</label>
								<select class="form-control">
									<option>Speciality</option>
									<option>Speciality</option>
									<option>Speciality</option>
									<option>Speciality</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="form-group">
								<label>Profile Summary</label>
							  <%= f.text_area :profile, :class=>"form-control",:placeholder => "Profile" %>
							</div>
						</div>
						
					</div>
					
					<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="form-group">
								<label>HCAH Landline</label>
							  <%= f.text_field :hcah_landline, :class=>"form-control",:placeholder => "HCAH Landline" %>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="form-group">
								<label>Mobile</label>
							  <%= f.text_field :mobile, :class=>"form-control",:placeholder => "xxxxxxxxxx" %>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 col-sm-4 col-xs-12">
						<%if @counsellor.persisted?%>
							<div class="form-group">
								<button class="add-btn blue-bg btn-lg"><i class="icon icon-paper-plane"></i> Update</button>
							</div>
						<%else%>
							<div class="form-group">
								<button class="add-btn blue-bg btn-lg"><i class="icon icon-paper-plane"></i> Submit</button>
							</div>
						<%end%>

						</div>
					</div>
					<%end%>
				</div>
				