					<%@counsellors.each do |counsellor|%>
						<tr>
							<td><%= counsellor.id%></td>
							<td><a href="counsellor-data-report.html"><%= counsellor.full_name%></a></td>
							<td><%= counsellor.speciality%></td>
							<td><%= counsellor.profile%></td>
							<td><%= counsellor.hcah_landline%></td>
							<td><%= counsellor.mobile%></td>
							<td class="text-right">
								<a href="/counsellors/<%= counsellor.id%>/edit" class="yello-btn"><i class="icon icon-edit-1"></i></a>
								<a href="/counsellors/<%= counsellor.id%>" class="blue-btn"><i class="icon icon-document"></i></a>
							</td>
					  </tr>
					<%end%>