	<%@patients.each do |patient|%>
	  <tr>
		<td><%= patient.id%>.</td>
		<td><a href="patient-dashboard.html"><%= patient.full_name%></a></td>
		<td><a href="patient-dashboard.html"><%= patient.package%></a></td>
		<td><a href="patient-dashboard.html"><%= patient.mobile%></a></td>
		<td><a href="patient-dashboard.html"><%= patient.doctor_name%></a></td>
		<td><a href="patient-dashboard.html"><i class="circle blue-color icon-circal"></i></a></td>
		<td><a href="patient-dashboard.html"><i class="rectangle blue-color icon-box"></i></a></td>
		<td>
			<a class="message blue-color"><i class="icon icon-speech-bubble-1"></i></a>
		</td>
		<td class="text-right">
			<a href="/patients/<%=patient.id%>/edit" class="yello-btn" title="Edit"><i class="icon icon-edit-1"></i></a>
			<a href="" class="blue-btn" title="Preview"><i class="icon icon-document"></i></a>
		</td>
	  </tr>
	  <%end%>