<div class="main-div"> <!-- first div -->
			<div class="page-title">
				<h1 class="pull-left">Patient's Assessment</h1>
				<div class="pull-right">
					
					<a href="/" class="add-btn"><i class="icon icon-left-arrow"></i> Back</a>
				</div>
			</div>

			<div class="white-bg"> <!-- second div -->

			<% if @patient.errors.any? %>
	    <div id="error_explanation">
	      <h2>
	        <%= pluralize(@patient.errors.count, "error") %> prohibited
	        this patient from being saved:
	      </h2>
	      <ul>
	        <% @patient.errors.full_messages.each do |msg| %>
	          <li><%= msg %></li>
	        <% end %>
	      </ul>
	    </div>
	  <% end %>
  
				<div class="tab-pill">
				<!-- ................. -->
						<ul class="nav nav-tabs">
							<li class="active"><a data-toggle="tab" href="#AddNewPatient">Add New Patient</a></li>
							<li><a data-toggle="tab" href="#HealthHistory">Health History</a></li>
							<li><a data-toggle="tab" href="#NutritionHistory">Nutrition History</a></li>
							<li><a data-toggle="tab" href="#DiabetesHistory">Diabetes History</a></li>
						  </ul>
						<%= form_for(@patient) do |f|%>
					  <div class="tab-content">

						<div id="AddNewPatient" class="tab-pane fade in active">
							<h3>Add New Patient</h3>
						
							<div class="row">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
									<div class="form-group">
										<label>First Names</label>
										<%= f.text_field :first_name, :class=>"form-control" %>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
									<div class="form-group">
										<label>Last Name</label>
										<%= f.text_field :last_name, :class=>"form-control" %>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
									<div class="form-group">
										<label>Gender</label>
										  <%= f.select :gender, options_for_select(Patient::GENDER_OPTIONS),{prompt: true}, {:class => 'form-control'}%>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
									<div class="form-group">
										<label>Date of Birth</label>
										<%= f.text_field :dob, :class=>"form-control", :id=>"date" %>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
									<div class="form-group">
										<label>Height</label>
										<%= f.text_field :height, :class=>"form-control"%>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
									<div class="form-group">
										<label>Ethnicity</label>
										<%= f.text_field :ethnicity, :class=>"form-control"%>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
									<div class="form-group">
										<label>Mobile</label>
										<%= f.text_field :mobile, :class=>"form-control"%>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<div class="form-group">
										<label>Email</label>
										<%= f.text_field :email, :class=>"form-control"%>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
									<div class="form-group">
										<label>Street Address</label>
										<%= f.text_area :street_address, :class=>"form-control"%>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
									<div class="form-group">
										<label>Pin</label>
										<%= f.text_field :pin, :class=>"form-control"%>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
									<div class="form-group">
										<label>State</label>
										<%= f.select :state, options_for_select(CS.states(:in).map{|key, value| [value, key]}),{prompt: true}, {:class => 'form-control',:id => "state"}%>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
									<div class="form-group">
									<label>City</label>
										<%= f.select :city, options_for_select([]),{prompt: true}, {:class => 'form-control',:id => "city"}%>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
									<div class="form-group">
									<label>Preferred Language</label>
										<%= f.select :preferred_language, options_for_select(Patient::LANGUAGE_OPTIONS),{prompt: true}, {:class => 'form-control'}%>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
									<div class="form-group">
										<label>Preferred Time to Call</label>
										<div class="row">
											<div class="col-md-6 col-sm-6">
											<%= f.text_field :preferred_time_call_start, :class=>"form-control",:placeholder=>"Start"%>
											</div>
											<div class="col-md-6 col-sm-6">
											<%= f.text_field :preferred_time_call_end, :class=>"form-control", :placeholder=>"End"%>
											</div>
										</div>
										
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
									<div class="form-group">
										<label>Disability</label>
										<%= f.select :disability, options_for_select(Patient::BOOLEAN_OPTIONS),{prompt: true}, {:class => 'form-control'} %>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<label>Lifestyle/Do you Exercise?</label>
										<%= f.select :exercise, options_for_select(Patient::BOOLEAN_OPTIONS),{prompt: true}, {:class => 'form-control'} %>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<label>Smoker/Drinker</label>
										<%= f.text_field :smoke_drink, :class=>"form-control"%>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<label>Date of Enrolment</label>
										<input type="text" id="date" name="date" class="form-control date-picker">
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<label>Doctor</label>
										<select class="form-control">
											<option>Doctor</option>
											<option>Doctor</option>
										</select>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<label>Source</label>
										<%= f.select :source, options_for_select(Patient::SOURCE_OPTIONS),{prompt: true}, {:class => 'form-control'}%>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<label>Package</label>
										<%= f.select :package, options_for_select(Patient::PACKAGE_OPTIONS),{prompt: true}, {:class => 'form-control'}%>
									</div>
								</div>
								
							</div>
							<div class="row">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<label>Reason for non-enrolment</label>
										<%= f.text_field :reason_for_non_enrollment, :class=>"form-control"%>			
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<label>Date of Dropout</label>
										<%= f.text_field :date_of_dropout, :class=>"form-control date-picker"%>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<label>Reason for Dropout</label>
										<%= f.text_field :reason_for_dropout, :class=>"form-control"%>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<label>NOK_Number</label>
										<%= f.text_field :nok_number, :class=>"form-control"%>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<label>NOK_Name</label>
										<%= f.text_field :nok_name, :class=>"form-control"%>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<label>NOK_Relationship with patients.</label>
										<%= f.text_field :nok_relation_with_patient, :class=>"form-control"%>										
									</div>
								</div>
								
							</div>
				    
						
				</div>						
				<!-- 1 -->
						
						<div id="HealthHistory" class="tab-pane fade">
						<%= f.fields_for :health_history do |ff| %>
						  <h3>Health History</h3>
						  <p class="font-medium">Check box if you've ever had of the following conditions:</p>
						  
						  <div class="row margin-bottom10">

				 				<% HealthHistory::EVER_HAD_CONDITION.each do |value| %>
				 				<div class="col-md-3 col-sm-4 col-xs-12">
								<label class="checkbox-inline">
								  <%= check_box_tag "patient[health_history_attributes]ever_had_condition[]",value %> <%= value %>
								</label>
								</div>
								<% end %>

						  </div>
						  
						  
							<div class="panel panel-default">
							  <div class="panel-heading font-regular">Do you follow any special diet for the above conditions &#63;</div>
							  <div class="panel-body">

								  <%= ff.radio_button :follow_special_diet, true %> 
								  <%= label :follow_special_diet, 'Yes' %>
								  <%= ff.radio_button :follow_special_diet, false %>
								  <%= label :follow_special_diet, 'No' %>
									
									<div class="form-group">
									  <label>Please List.</label>
									 <%= ff.text_field :listing_special_diet, :class=>"form-control"%>
									</div>
									
							  </div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">When was your last dilated eye exam &#63;</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-2 col-sm-3">
											<div class="form-group">
												<%= ff.text_field :dilated_eye_exam_month, :class=>"form-control",:placeholder=>"Month"%>
											</div>
										</div>
										<div class="col-md-2 col-sm-3">
											<div class="form-group">
												<%= ff.text_field :dilated_eye_exam_year, :class=>"form-control",:placeholder=>"Year"%>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">Have you seen a foot doctor &#63;</div>
								<div class="panel-body">

									<%= ff.radio_button :seen_foot_doctor, true %> 
								  <%= label :seen_foot_doctor, 'Yes' %>
								  <%= ff.radio_button :seen_foot_doctor, false %>
								  <%= label :seen_foot_doctor, 'No' %>

									<div class="row">
										<div class="col-md-2 col-sm-3">
											<div class="form-group">
												<label>When &#63;</label>
												<%= ff.text_field :seen_foot_doctor_month, :class=>"form-control",:placeholder=>"Month"%>
											</div>
										</div>
										<div class="col-md-2 col-sm-3">
											<div class="form-group">
												<label>&nbsp;</label>
												<%= ff.text_field :seen_foot_doctor_year, :class=>"form-control",:placeholder=>"Year"%>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">Do you check your feet daily?</div>
								<div class="panel-body">
									
									<%= ff.radio_button :check_feet_daily, true %> 
								  <%= label :check_feet_daily, 'Yes' %>
								  <%= ff.radio_button :check_feet_daily, false %>
								  <%= label :check_feet_daily, 'No' %>

								</div>
							</div>
						  
							<div class="panel panel-default">
								<div class="panel-heading font-regular">Do you drink alchol?</div>
								<div class="panel-body">
									
									<%= ff.radio_button :drink_alcohol, true %> 
								  <%= label :drink_alcohol, 'Yes' %>
								  <%= ff.radio_button :drink_alcohol, false %>
								  <%= label :drink_alcohol, 'No' %>
									
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">How many drinks per week?</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-2 col-sm-3 col-xs-12">
											<div class="form-group">
												<label>Wine</label>
												<%= ff.text_field :drinks_per_week_wine, :class=>"form-control"%>
											</div>
										</div>
										<div class="col-md-2 col-sm-3 col-xs-12">
											<div class="form-group">
												<label>Beer</label>
												<%= ff.text_field :drinks_per_week_beer, :class=>"form-control"%>
											</div>
										</div>
										<div class="col-md-2 col-sm-3 col-xs-12">
											<div class="form-group">
												<label>Mixed drinks</label>
												<%= ff.text_field :drinks_per_week_mixed, :class=>"form-control"%>
											</div>
										</div>
									</div>
									
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">Do you smoke?</div>
								<div class="panel-body">
									
									<%= ff.radio_button :do_you_smoke, true %> 
								  <%= label :do_you_smoke, 'Yes' %>
								  <%= ff.radio_button :do_you_smoke, false %>
								  <%= label :do_you_smoke, 'No' %>

								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">How much did you smoke?</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-3 col-sm-3 col-xs-12">
											<div class="form-group">
												<label>Packs per day</label>
												<%= ff.text_field :smoke_packs_per_day, :class=>"form-control"%>
											</div>
										</div>
										<div class="col-md-3 col-sm-3 col-xs-12">
											<div class="form-group">
												<label>Number of years</label>
												<%= ff.text_field :smoke_years, :class=>"form-control"%>
											</div>
										</div>
										
									</div>
									
								</div>
							</div>
							
							
							
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">Did you ever smoke?</div>
								<div class="panel-body">

									<%= ff.radio_button :ever_smoke, true %> 
								  <%= label :ever_smoke, 'Yes' %>
								  <%= ff.radio_button :ever_smoke, false %>
								  <%= label :ever_smoke, 'No' %>
									
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading font-regular">When did you quit?</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-4 col-sm-4 col-xs-12">
											<div class="form-group">
												<%= ff.text_field :smoke_quit, :class=>"form-control"%>
											</div>
										</div>
										
									</div>
									
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading font-regular">Allergies/Any other Health Condition.</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<div class="form-group">
												<%= ff.text_field :alergies_any_othr_health_condition, :class=>"form-control"%>
											</div>
										</div>
									</div>
								</div>
							</div>
						
						<%end%>
						</div>
						
						<!-- 2 -->
						
						
						
						
						
						<div id="NutritionHistory" class="tab-pane fade">
						<%= f.fields_for :nutrition_history do |fn| %>
						  <h3>Nutrition History</h3>
						  <div class="panel panel-default">
								<div class="panel-heading font-regular">-</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-2 col-sm-3 col-xs-12">
											<div class="form-group">
												<label>Height</label>
												<%= fn.text_field :height, :class=>"form-control"%>
											</div>
										</div>
										<div class="col-md-2 col-sm-3 col-xs-12">
											<div class="form-group">
												<label>Weight</label>
												<%= fn.text_field :weight, :class=>"form-control"%>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading font-regular">Has your weight changed in the last year?</div>
								<div class="panel-body">

									<%= fn.radio_button :weight_chamge_last_year, true %> 
								  <%= label :weight_chamge_last_year, 'Yes' %>
								  <%= fn.radio_button :weight_chamge_last_year, false %>
								  <%= label :weight_chamge_last_year, 'No' %>

								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">What do you think is realistic weight for you?</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-4 col-sm-4 col-xs-12">
											<div class="form-group">
												<label>Lbs</label>
												<%= fn.text_field :realistic_weight_for_you, :class=>"form-control"%>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading font-regular">How long since you were at that weight?</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-4 col-sm-4 col-xs-12">
											<div class="form-group">
												<%= fn.text_field :since_you_at_that_weight, :class=>"form-control"%>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">Rate your CONFIDENCE in your ability to make dietary changes (1=low, 10=high)</div>
								<div class="panel-body">

									<% (1..10).each do |i| %>
									  <%= fn.radio_button :confidence_diaterey_change, i ,:class=>"radio-inline"%> <%=i%>
									<%end%>

								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">Rate your MOTIVATION level for making dietary changes(1=low, 10=high)</div>
								<div class="panel-body">

									<% (1..10).each do |i| %>
									  <%= fn.radio_button :motivation_diatery_change, i ,:class=>"radio-inline"%> <%=i%>
									<%end%>

								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">Do How many times a week do you eat out for</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-4 col-sm-4 col-xs-12">
											<div class="form-group">
												<label>Breakfast</label>
												<%= fn.number_field :eat_out_for_breakfast_count, :class=>"form-control"%>
											</div>
										</div>
										<div class="col-md-4 col-sm-4 col-xs-12">
											<div class="form-group">
												<label>Lunch</label>
												<%= fn.number_field :eat_out_for_lunch_count, :class=>"form-control"%>
											</div>
										</div>
										<div class="col-md-4 col-sm-4 col-xs-12">
											<div class="form-group">
												<label>Dinner</label>
												<%= fn.number_field :eat_out_for_dinner_count, :class=>"form-control"%>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">Types of places you eat out at</div>
								<div class="panel-body">
									<div class="row">

										<% NutritionHistory::EATOUT_OPTIONS.each do |value| %>
										<div class="col-md-3 col-sm-3 col-xs-12">
										<label class="checkbox-inline">
										  <%= check_box_tag "patient[nutrition_history_attributes]places_eat_ot_at[]",value %>
										  <%= value %>
										 </label>
										</div>
										<% end %>

									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">What types of beverages do you drink during the day?</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<div class="form-group">
												<%= fn.text_area :type_of_bevrages_drink_a_day, :class=>"form-control"%>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">Do you eat regular meals?</div>
								<div class="panel-body">
									
									<%= fn.radio_button :eat_regular_meal, true %> 
								  <%= label :eat_regular_meal, 'Yes' %>
								  <%= fn.radio_button :eat_regular_meal, false %>
								  <%= label :eat_regular_meal, 'No' %>

									<div class="row">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<div class="form-group">
												<label>Comments</label>
												<%= fn.text_area :eat_regular_meal_comment, :class=>"form-control",:row=>2%>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">Do you take any vitamins, minerals or other diet suppliments?</div>
								<div class="panel-body">
									
									<%= fn.radio_button :take_vitamin_mineral_diet_supplement_type, true %> 
								  <%= label :take_vitamin_mineral_diet_supplement_type, 'Yes' %>
								  <%= fn.radio_button :take_vitamin_mineral_diet_supplement_type, false %>
								  <%= label :take_vitamin_mineral_diet_supplement_type, 'No' %>

									<div class="row">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<div class="form-group">
												<label>if yes, what?</label>
												<%= fn.text_area :take_vitamin_mineral_diet_supplement_type, :class=>"form-control",:row=>2%>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">Do you exercise now?</div>
								<div class="panel-body">

									<%= fn.radio_button :do_you_exercise_now, true %> 
								  <%= label :do_you_exercise_now, 'Yes' %>
								  <%= fn.radio_button :do_you_exercise_now, false %>
								  <%= label :do_you_exercise_now, 'No' %>

									<div class="row margin-top10">
										<div class="col-md-12 col-sm-12 col-xs-12">
											
											<label class="exer">
												if yes, what do you do and how often do you do it?
												
											</label>

											<div class="exerciseNow">
											  <%= fn.fields_for :exercises do |builder| %>
											    <%= render "/patients/exercise_fields", :f => builder %>
											  <% end %>
											  
												<p><%= link_to_add_fields "Add Exercise", fn, :exercises %></p>

											</div>

										</div>
									</div>
								</div>
							</div>
							<%end%>
							
						</div>
						<!-- 3 -->
						
						
						
						<div id="DiabetesHistory" class="tab-pane fade">
						  <h3>Diabetes History</h3>
						  <%= f.fields_for :diabetes_history do |fd| %>
						  
						  <div class="panel panel-default">
								<div class="panel-heading font-regular">Type of Diabetes</div>
								<div class="panel-body">

									<% DiabetesHistory::DIABETES_TYPE.each do |type|%>
									<label class="checkbox-inline">
										<%= fd.radio_button :diabetes_type, type %><%= type%>
									</label>
									<%end%>
								
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">When were you diagnosed?</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-2 col-sm-3 col-xs-12">
											<div class="form-group">
												<label>Month</label>
												<%= fd.text_field :diagnosed_month,:class=>"form-control" %>
											</div>
										</div>
										<div class="col-md-2 col-sm-3 col-xs-12">
											<div class="form-group">
												<label>Year</label>
												<%= fd.text_field :diagnosed_year,:class=>"form-control" %>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">Does anyone in your faimly have diabetes? </div>

								<div class="panel-body">

									<%= fd.radio_button :any_one_in_family_have_diabetes, true %> 
								  <%= label :any_one_in_family_have_diabetes, 'Yes' %>
								  <%= fd.radio_button :any_one_in_family_have_diabetes, false %>
								  <%= label :any_one_in_family_have_diabetes, 'No' %>

									<div class="row">
										<div class="col-md-5 col-sm-5 col-xs-12">
											<div class="form-group">
												<label>Whom?</label>
												<%= fd.text_field :whome_have_diabetes_family,:class=>"form-control" %>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">Have you had previous diabetes education?</div>
								<div class="panel-body">

									<%["No","Yes -from whom?","Do Page Medical Group","Other"].each do |value|%>
										<label class="checkbox-inline">
											<%= fd.radio_button :any_one_in_family_have_diabetes, true %><%= value%>
										</label>
									<%end%>

								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">In your own words, what is diabetes?</div>
								<div class="panel-body">
									<div class="form-group">
										<%= fd.text_field :own_words_diabetes,:class=>"form-control" %>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">What are you most interested in learning from these diabetes education sessions?</div>
								<div class="panel-body">
									<div class="row">

										<% DiabetesHistory::EDUCATION_SESSION_OPTIONS.each do |value| %>
										<div class="col-md-3 col-sm-3 col-xs-12">
										  <%= check_box_tag "patient[diabetes_history_attributes]previous_diabetes_education[]",value %>
										  <%= value %>
										</div>
										<% end %>

									</div>
								
								</div>
							</div>
							
							
							
							<h3>Testing Your Blood Sugar</h3>
							<div class="panel panel-default">
								<div class="panel-heading font-regular">Do you test your blood sugar at home? </div>
								<div class="panel-body">

									<%= fd.radio_button :test_blood_sugar_at_home, true %> 
								  <%= label :test_blood_sugar_at_home, 'Yes' %>
								  <%= fd.radio_button :test_blood_sugar_at_home, false %>
								  <%= label :test_blood_sugar_at_home, 'No' %>

									<div class="row">
										<div class="col-md-5 col-sm-5 col-xs-12">
											<div class="form-group">
												<label>If yes, what meter do you use?</label>
												<%= fd.text_field :what_meter_use,:class=>"form-control" %>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">How often do you test your blood sugar each day?</div>
								<div class="panel-body">

									<%["1","2","3","4+ time per day"].each do |value|%>
									 <label class="radio-inline">
										<%= fd.radio_button :how_often_test_sugar, value %>&nbsp; <%= value %>
									 </label>	
									<%end%>

									<div class="row">
										<div class="col-md-5 col-sm-5 col-xs-12">
											<div class="form-group">
												<label>Other</label>
												<%= fd.text_field :how_often_test_sugar_other,:class=>"form-control" %>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">When do you test?</div>
								<div class="panel-body">
									<div class="row">
									
										<% DiabetesHistory::EDUCATION_SESSION_OPTIONS.each do |value| %>
										<div class="col-md-3 col-sm-3 col-xs-12">
										  <%= check_box_tag "patient[diabetes_history_attributes]when_did_you_test[]",value %>
										  <%= value %>
										</div>
										<% end %>
										
									</div>

									<div class="row">
										<div class="col-md-5 col-sm-5 col-xs-12">
											<div class="form-group">
												<label>Other</label>
												<%= fd.text_field :when_did_you_test_other,:class=>"form-control" %>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">In the last month, how often have you had a low blood sugar reaction?</div>
								<div class="panel-body">
									<div class="row">

										<% DiabetesHistory::LOW_BLOOD_SUGAR.each do |value| %>
										<div class="col-md-3 col-sm-3 col-xs-12">
										  <%= check_box_tag "patient[diabetes_history_attributes]last_month_low_blood_sugar[]",value %>
										  <%= value %>
										</div>
										<% end %>

									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">What do you do when your blood sugar is too high? </div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-5 col-sm-5 col-xs-12">
											<div class="form-group">
												<%= fd.text_field :what_you_do_when_sugar_high,:class=>"form-control" %>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">What do you do when your blood sugar is too low? </div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-5 col-sm-5 col-xs-12">
											<div class="form-group">
												<%= fd.text_field :what_you_do_when_sugar_low,:class=>"form-control" %>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">In the last 12 months, have you been to an emergency room for a diabetes related event?</div>
								<div class="panel-body">
									
									<%= fd.radio_button :emergency_room_for_diabets_related_event, true %> 
								  <%= label :emergency_room_for_diabets_related_event, 'Yes' %>
								  <%= fd.radio_button :emergency_room_for_diabets_related_event, false %>
								  <%= label :emergency_room_for_diabets_related_event, 'No' %>
								
								</div>
							</div>
							<div class="row">
								<div class="col-md-3 col-sm-4 col-xs-12">
									<div class="form-group">
										<button class="add-btn blue-bg btn-lg"><i class="icon icon-paper-plane"></i> Submit</button>
									</div>
									
								</div>
							</div>

							<%end%>
						</div>
						<!-- 4 -->
						
					  </div>	
				    <%end%>
						  
			  </div>
				<!-- ................. -->
			

			</div> <!-- second div ends-->
		</div> <!-- first div ends-->