<div class="main-div"> <!-- first div -->
			<div class="page-title">
				<h1 class="pull-left">Patient's Assessment</h1>
				<div class="pull-right">
					
					<a href="/" class="add-btn"><i class="icon icon-left-arrow"></i> Back</a>
				</div>
			</div>

			<div class="white-bg"> <!-- second div -->

			<% if @patient.errors.any? %>
	    <div id="error_explanation">
	      <ul>
	        <% @patient.errors.full_messages.each do |msg| %>
	          <li><%= msg %></li>
	        <% end %>
	      </ul>
	    </div>
	  <% end %>
  
				<div class="tab-pill">
				<!-- ................. -->
						<ul class="nav nav-tabs">
							<li class= "<%= tab_active(@_tab,1)%> click-tab" value ="1"><a data-toggle="tab" href="#AddNewPatient">Basic Information</a></li>

							<li class= "click-tab <%= tab_active(@_tab,2)%>" value ="2"><a data-toggle="tab" href="#HealthHistory">Health History</a></li>

							<!-- <li class= ><a data-toggle="tab" href="#DiabetesMedications">Diabetes Medications</a></li> -->

							<li class= "click-tab <%= tab_active(@_tab,3)%>" value ="3"><a data-toggle="tab" href="#NutritionHistory">Nutrition History</a></li>

							<li class= "click-tab <%= tab_active(@_tab,4)%>" value ="4"><a data-toggle="tab" href="#DiabetesHistory">Diabetes History</a></li>

							<li class= "click-tab <%= tab_active(@_tab,5)%>" value ="5"><a data-toggle="tab" href="#ExitForm">Exit Form</a></li>

						</ul>

						<%= form_for(@patient) do |f|%>
					  <div class="tab-content">
					  <%= hidden_field_tag "tab", @_tab%>
						<div id="AddNewPatient" class="tab-pane fade in <%= tab_active(@_tab,1)%>" >
							<h3>Basic Information</h3>
						
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<div class="form-group">
										<label>First Name</label>
										<%= f.text_field :first_name, :class=>"form-control",:placeholder => "First Name"%>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<div class="form-group">
										<label>Last Name</label>
										<%= f.text_field :last_name, :class=>"form-control",:placeholder => "Last Name"%>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<div class="form-group">
										<label>Gender</label>
										<%= f.select :gender, options_for_select(Patient::GENDER_OPTIONS),{prompt: true}, {:class => 'form-control'}%>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<div class="form-group">
										<label>Date of Birth</label>
										<%= f.text_field :dob, :class=>"form-control date-picker",:placeholder => "Select date"%>
									</div>
								</div>
								
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<div class="form-group">
										<label>Ethnicity</label>
										<%= f.text_field :ethnicity, :class=>"form-control",:placeholder => "Ethnicity"%>
									</div>
								</div>
							</div>
							
							
							
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<div class="form-group">
										<label>Mobile</label>
										<%= f.text_field :mobile, :class=>"form-control",:placeholder => "XXXXXXXXXX"%>
									</div>
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
									<div class="form-group">
										<label>Email</label>
										<%= f.text_field :email, :class=>"form-control",:placeholder => "xyz@example.com"%>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="form-group">
										<label>Street Address</label>
										<%= f.text_area :street_address, :class=>"form-control",:placeholder => "Street Address"%>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<div class="form-group">
										<label>Pin code</label>
										<%= f.text_field :pin, :class=>"form-control",:placeholder => "Pin code"%>
									</div>
								</div>

								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<div class="form-group">
										<label>State</label>
										<%= f.select :state, options_for_select(CS.states(:in).map{|key, value| [value, key]},:selected=>f.object.state),{prompt: true}, {:class => 'form-control',:id => "state"}%>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<div class="form-group">
										<label>City</label>
										<%= f.select :city, options_for_select(CS.cities(f.object.state),:selected => f.object.city),{prompt: true}, {:class => 'form-control',:id => "city"}%>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<div class="form-group">
										<label>Preferred Language</label>
										<%= f.select :preferred_language, options_for_select(Patient::LANGUAGE_OPTIONS),{prompt: true}, {:class => 'form-control'}%>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<div class="form-group">
										<label>Disability</label>
										<%= f.select :disability, options_for_select(Patient::BOOLEAN_OPTIONS),{prompt: true}, {:class => 'form-control'}%>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<div class="form-group">
										<label>Date of Enrolment</label>
										<%= f.text_field :date_of_enrollment, :class=>"form-control date-picker",:placeholder => "Select date"%>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<label style="margin-top: 16px;margin-bottom: 0px;">Preferred Time to Call</label>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<div class="form-group">
										<label>Day</label>
										<%= f.select :preffered_day_for_call, options_for_select(Patient::DAY_OPTIONS),{prompt: true}, {:class => 'form-control'}%>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<div class="form-group">
										<label>First Preferred Time</label>
										<%= f.text_field :preferred_time_call_start, :class=>"form-control",:placeholder => "HH:MM"%>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<div class="form-group">
										<label>Second Preferred Time</label>
										<%= f.text_field :preferred_time_call_end, :class=>"form-control",:placeholder => "HH:MM"%>
									</div>
								</div>
							</div>
							
							
							
							
							
							
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<div class="form-group">
										<label>Doctor</label>
										<%= f.select :doctor_id, options_for_select(Doctor.all.collect{|doctor| [doctor.full_name,doctor.id]},:selected => f.object.doctor_id),{prompt: true}, {:class => 'form-control'}%>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<div class="form-group">
										<label>Source</label>
										<%= f.select :source, options_for_select(Patient::SOURCE_OPTIONS),{prompt: true}, {:class => 'form-control'}%>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<div class="form-group">
										<label>Packages</label>
										<%= f.select :package, options_for_select(Patient::PACKAGE_OPTIONS),{prompt: true}, {:class => 'form-control'}%>
									</div>
								</div>
								
							</div>
							
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<div class="form-group">
										<label>NOK_Number</label>
										<%= f.text_field :nok_number, :class=>"form-control",:placeholder => "NOK_Number"%>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<div class="form-group">
										<label>NOK_Name</label>
										<%= f.text_field :nok_name, :class=>"form-control",:placeholder => "NOK_Name"%>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<div class="form-group">
										<label>NOK_Relationship with patients.</label>
										<%= f.text_field :nok_relation_with_patient, :class=>"form-control",:placeholder => "NOK_Relationship with patients"%>
									</div>
								</div>
								
							</div>
							<br>
							<div class="row">
								<div class="col-md-4 col-sm-4 col-xs-12">
									<div class="form-group">
										<button class="add-btn blue-bg btn-lg patient-submit" persisted=<%=f.object.persisted?%> ><i class="icon icon-dashboard"></i> Save & Continue</button>	
									</div>
									
								</div>
							</div>
				    
						
				</div>						
				<!-- 1 -->
						
						<div id="HealthHistory" class="tab-pane fade in <%= tab_active(@_tab,2)%>">
						<%= f.fields_for :health_history do |ff| %>
						  <h3>Health History</h3>
						  <p class="font-medium">Check box if you've ever had of the following conditions:</p>
						  
						  <div class="row margin-bottom10">

				 				<% HealthHistory::EVER_HAD_CONDITION.each do |value| %>
				 				<div class="col-md-3 col-sm-4 col-xs-12">
								<label class="checkbox-inline">
									<%status = ff.object.ever_had_condition.include?(value) if !ff.object.ever_had_condition.blank? %>
								  <%= check_box_tag "patient[health_history_attributes]ever_had_condition[]",value, status %>
								  <%= value %> 
								</label>
								</div>
								<% end %>

						  </div>

						  <div class="form-group">
								<label>Other</label>
								<textarea class="form-control"></textarea>
							</div>
						  <br>
						  
						  
							<div class="panel panel-default">
							  <div class="panel-heading font-regular">Do you follow any special diet for the above conditions &#63;</div>
							  <div class="panel-body">

								  <%= ff.radio_button :follow_special_diet, true %> 
								  <%= label :follow_special_diet, 'Yes' %>
								  <%= ff.radio_button :follow_special_diet, false %>
								  <%= label :follow_special_diet, 'No' %>
									
									<div class="form-group">
									  <label>Please List.</label>
									 <%= ff.text_area :listing_special_diet, :class=>"form-control",:placeholder => "Please List."%>
									</div>
									
							  </div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading font-regular">When was your last dilated eye exam?</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-3 col-sm-4">
											<div class="form-group">
												<label>Last Exam Date</label>
												<%= ff.text_field :last_dialated_eye_exam_date, :class=>"form-control date-picker",:placeholder=>"Select date" %>
											</div>
										</div>
										
										<div class="col-md-3 col-sm-3">
											
											<div class="form-group">
											<label>Next frequency in month</label>
												<%= ff.select :next_frequency_in_month, options_for_select((1..24).collect{|value| [value,value]},:selected => ff.object.next_frequency_in_month),{prompt: true}, {:class => 'form-control',:id => "city"}%>
											</div>
										</div>
									</div>
									
									
									
								</div>
							</div>
							
							
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">Have you seen a foot doctor &#63;</div>
								<div class="panel-body">

									<%= ff.radio_button :seen_foot_doctor, true %> 
								  <%= label :seen_foot_doctor, 'Yes' %>
								  <%= ff.radio_button :seen_foot_doctor, false %>
								  <%= label :seen_foot_doctor, 'No' %>

									<div class="row">
										<div class="col-md-3 col-sm-3">
											<div class="form-group">
												<label>When?</label>
												<%= f.text_field :seen_foot_doctor,:class=>"form-control date-picker",:placeholder =>"Select date" %>
											</div>
										</div>
										
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">Do you check your feet daily?</div>
								<div class="panel-body">
									
								  <label class="checkbox-inline">
									  <%= ff.radio_button :check_your_feet, "Daily" %>Daily
									</label>
									<label class="checkbox-inline">
									  <%= ff.radio_button :check_your_feet, "Weekly" %>Weekly 
									</label>
									<label class="checkbox-inline">
									  <%= ff.radio_button :check_your_feet, "Monthly" %>Monthly 
									</label>
									<label class="checkbox-inline">
									  <%= ff.radio_button :check_your_feet, "None" %>None 
									</label>

								</div>
							</div>
						  
							<div class="panel panel-default">
								<div class="panel-heading font-regular">Do you drink alchol?</div>
								<div class="panel-body">
									
									<%= ff.radio_button :drink_alcohol, true %> 
								  <%= label :drink_alcohol, 'Yes' %>
								  <%= ff.radio_button :drink_alcohol, false %>
								  <%= label :drink_alcohol, 'No' %>
									
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">How many drinks per week?</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-2 col-sm-3 col-xs-12">
											<div class="form-group">
												<label>Wine</label>
												<%= ff.text_field :drinks_per_week_wine, :class=>"form-control",:placeholder=>"Count"%>
											</div>
										</div>
										<div class="col-md-2 col-sm-3 col-xs-12">
											<div class="form-group">
												<label>Beer</label>
												<%= ff.text_field :drinks_per_week_beer, :class=>"form-control",:placeholder=>"Count"%>
											</div>
										</div>
										<div class="col-md-2 col-sm-3 col-xs-12">
											<div class="form-group">
												<label>Mixed drinks</label>
												<%= ff.text_field :drinks_per_week_mixed, :class=>"form-control",:placeholder=>"Count"%>
											</div>
										</div>
										<div class="col-md-2 col-sm-3 col-xs-12">
											<div class="form-group">
												<label>Number of years</label>
												<%= ff.text_field :drink_number_of_years, :class=>"form-control",:placeholder=>"Count"%>
											</div>
										</div>

									</div>
									
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">Do you smoke?</div>
								<div class="panel-body">
									
									<%= ff.radio_button :do_you_smoke, true %> 
								  <%= label :do_you_smoke, 'Yes' %>
								  <%= ff.radio_button :do_you_smoke, false %>
								  <%= label :do_you_smoke, 'No' %>

								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">How much did you smoke?</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-3 col-sm-3 col-xs-12">
											<div class="form-group">
												<label>Packs per day</label>
												<%= ff.text_field :smoke_packs_per_day, :class=>"form-control",:placeholder=>"Count"%>
											</div>
										</div>
										<div class="col-md-3 col-sm-3 col-xs-12">
											<div class="form-group">
												<label>Number of years</label>
												<%= ff.text_field :smoke_years, :class=>"form-control",:placeholder=>"Count"%>
											</div>
										</div>
										
									</div>
									
								</div>
							</div>
							
							
							
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">Did you ever smoke?</div>
								<div class="panel-body">

									<%= ff.radio_button :ever_smoke, true %> 
								  <%= label :ever_smoke, 'Yes' %>
								  <%= ff.radio_button :ever_smoke, false %>
								  <%= label :ever_smoke, 'No' %>
									
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading font-regular">When did you quit?</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-4 col-sm-4 col-xs-12">
											<div class="form-group">
										

												<%= ff.select :smoke_quit, options_for_select([["1 Month","1 Month"],["2 Month","2 Month"],["60 Month","60 Month"]]),{prompt: true}, {:class => 'form-control'}%>

											</div>

										</div>
										
									</div>
									
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading font-regular">Allergies Food.</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<div class="form-group">
												<%= ff.text_field :food_alergies, :class=>"form-control",:placeholder=>"Allergies Food."%>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading font-regular">Allergies Medicine.</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<div class="form-group">
												<%= ff.text_field :medicine_alergies, :class=>"form-control",:placeholder=>"Allergies Medicine."%>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-4 col-sm-4 col-xs-12">
									<div class="form-group">
									<%if f.object.persisted?%>
										<button class="add-btn blue-bg btn-lg"><i class="icon icon-dashboard"></i> Save & Continue</button>
									<%else%>
										<button class="add-btn blue-bg btn-lg" disabled><i class="icon icon-dashboard"></i> Save & Continue</button>
									<%end%>	
									</div>
									
								</div>
							</div>

						
						<%end%>
						</div>
						
						<!-- 2 -->
					<!-- 	<div id="DiabetesMedications" class="tab-pane fade">
							<h3>Diabetes Medications</h3>
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">Medications you take for diabetes</div>
								<div class="panel-body">
									<label class="checkbox-inline">
									  <input type="checkbox" value="">No
									</label>
									<label class="checkbox-inline">
									  <input type="checkbox" value="">Yes
									</label>
									<br>
									<div class="table-overflow">
										<table class="table table-bordered">
											<thead>
												<tr>
													<th>Name of Medications</th>
													<th>Does</th>
													<th>Time(s) taken?</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>
														<input type="text" class="form-control">
													</td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">Medications Behavior</div>
								<div class="panel-body">
									
									
									
									
									
									<ol class="margin-left30">
										<li>
											<div class="form-group">
												<label>In typical week, how often do you forget to take your medicine?
												<input type="text" placeholder=""> times per week/month (circle)
												</label>
											</div>
										</li>
										<li>
											<div class="form-group">
												<label>When you feel better, do you sometimes stop taking your medicine?</label>
											</div>
											<label class="checkbox-inline">
											  <input type="checkbox" value="">No
											</label>
											<label class="checkbox-inline">
											  <input type="checkbox" value="">Yes
											</label>
										</li>
										<li>
											<div class="form-group">
												<label>Sometimes if you feel worse when you take the medicine, do you stop taking it?</label>
											</div>
											<label class="checkbox-inline">
											  <input type="checkbox" value="">No
											</label>
											<label class="checkbox-inline">
											  <input type="checkbox" value="">Yes
											</label>
										</li>
									</ul>
									
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">Medications Beliefs</div>
								<div class="panel-body">
									
									<ol class="margin-left30">
										
										<li>
											<div class="form-group">
												<label>Do you think medications can help you control your diabetes and better your health?</label>
											</div>
											<label class="checkbox-inline">
											  <input type="checkbox" value="">No
											</label>
											<label class="checkbox-inline">
											  <input type="checkbox" value="">Yes
											</label>
										</li>
										<li>
											<div class="form-group">
												<label>Do you know about why these medications have been recommended and how they work?</label>
											</div>
											<label class="checkbox-inline">
											  <input type="checkbox" value="">No
											</label>
											<label class="checkbox-inline">
											  <input type="checkbox" value="">Yes
											</label>
										</li>
									</ul>
									
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">Medications Contraints</div>
								<div class="panel-body">
									
									<ol class="margin-left30">
										
										<li>
											<div class="form-group">
												<label>Do you ever cut back on your medications because of out of pocket costs?</label>
											</div>
											<label class="checkbox-inline">
											  <input type="checkbox" value="">No
											</label>
											<label class="checkbox-inline">
											  <input type="checkbox" value="">Yes
											</label>
										</li>
										<li>
											<div class="form-group">
												<label>Do you ever feel confused or overwhelmed about when to take your medication?</label>
											</div>
											<label class="checkbox-inline">
											  <input type="checkbox" value="">No
											</label>
											<label class="checkbox-inline">
											  <input type="checkbox" value="">Yes
											</label>
										</li>
									</ul>
									
								</div>
							</div>
							
							
							<div class="row">
								<div class="col-md-4 col-sm-4 col-xs-12">
									<div class="form-group">
										<button class="add-btn blue-bg btn-lg"><i class="icon icon-dashboard"></i> Save &amp; Continue</button>
									</div>
									
								</div>
							</div>
						</div> -->


						<!-- 3 -->
						
						
						
						
						<div id="NutritionHistory" class="tab-pane fade in <%= tab_active(@_tab,3)%>">
						<%= f.fields_for :nutrition_history do |fn| %>
						  <h3>Nutrition History</h3>


						  <div class="panel panel-default">
								<div class="panel-heading font-regular">BMI (Body Mass Index)</div>
								<div class="panel-body">

									<div class="row">
										<div class="col-md-3 col-sm-3 col-xs-12">
											<div class="form-group">
												<label>Height (cm)</label>
												<%= fn.select :height, options_for_select([["100 centimeter","100"],["110 centimeter","110"],["120 centimeter","120"],["130 centimeter","130"]]),{prompt: true}, {:class => 'form-control'}%>
											</div>
										</div>
										<div class="col-md-3 col-sm-3 col-xs-12">
											<div class="form-group">
												<label>Weight (kg)</label>
												<%= fn.select :weight, options_for_select([["50 Kg","50"],["60 Kg","60"],["70 Kg","70"]]),{prompt: true}, {:class => 'form-control'}%>
											</div>
										</div>
									</div>


								</div>
							</div>




							<div class="panel panel-default">
								<div class="panel-heading font-regular">Has your weight changed in the last year?</div>
								<div class="panel-body">

									<%= fn.radio_button :weight_chamge_last_year, true %> 
								  <%= label :weight_chamge_last_year, 'Yes' %>
								  <%= fn.radio_button :weight_chamge_last_year, false %>
								  <%= label :weight_chamge_last_year, 'No' %>

								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">What do you think is realistic weight for you?</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-4 col-sm-4 col-xs-12">
											<div class="form-group">
												<label>KG (kilogram)</label>
												<%= fn.text_field :realistic_weight_for_you, :class=>"form-control"%>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading font-regular">How long since you were at that weight?</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-4 col-sm-4 col-xs-12">
											<div class="form-group">
												<%= fn.text_field :since_you_at_that_weight, :class=>"form-control"%>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">Rate your CONFIDENCE / MOTIVATION in your ability to make dietary changes (1=low, 10=high)</div>
								<div class="panel-body">

									<% (1..10).each do |i| %>
									  <%= fn.radio_button :rate_motivation_confidence, i ,:class=>"radio-inline"%> <%=i%>
									<%end%>

								</div>
							</div>

							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">Do How many times a week do you eat out for</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-4 col-sm-4 col-xs-12">
											<div class="form-group">
												<label>Breakfast</label>
												<%= fn.number_field :eat_out_for_breakfast_count, :class=>"form-control"%>
											</div>
										</div>
										<div class="col-md-4 col-sm-4 col-xs-12">
											<div class="form-group">
												<label>Lunch</label>
												<%= fn.number_field :eat_out_for_lunch_count, :class=>"form-control"%>
											</div>
										</div>
										<div class="col-md-4 col-sm-4 col-xs-12">
											<div class="form-group">
												<label>Dinner</label>
												<%= fn.number_field :eat_out_for_dinner_count, :class=>"form-control"%>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">Types of places you eat out at</div>
								<div class="panel-body">
									<div class="row">

										<% NutritionHistory::EATOUT_OPTIONS.each do |value| %>
										<div class="col-md-3 col-sm-3 col-xs-12">
										<label class="checkbox-inline">
										<%status = fn.object.places_eat_ot_at.include?(value) if !fn.object.places_eat_ot_at.blank? %>
										  <%= check_box_tag "patient[nutrition_history_attributes]places_eat_ot_at[]",value,status %>
										  <%= value %>
										 </label>
										</div>
										<% end %>

									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">What types of beverages do you drink during the day?</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-4 col-sm-4 col-xs-12">
											<div class="form-group">
												<label>Tea</label>
												<%= fn.number_field :beverages_drink_in_day_tea, :class=>"form-control"%>
											</div>
										</div>
										<div class="col-md-4 col-sm-4 col-xs-12">
											<div class="form-group">
												<label>coffee</label>
												<%= fn.number_field :beverages_drink_in_day_coffee, :class=>"form-control"%>
											</div>
										</div>
										<div class="col-md-4 col-sm-4 col-xs-12">
											<div class="form-group">
												<label>Other</label>
												<%= fn.text_field :beverages_drink_in_day_other, :class=>"form-control"%>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">Do you eat regular meals?</div>
								<div class="panel-body">
									
									<%= fn.radio_button :eat_regular_meal, true %> 
								  <%= label :eat_regular_meal, 'Yes' %>
								  <%= fn.radio_button :eat_regular_meal, false %>
								  <%= label :eat_regular_meal, 'No' %>

									<div class="row">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<div class="form-group">
												<label>Comments</label>
												<%= fn.text_area :eat_regular_meal_comment, :class=>"form-control",:row=>2%>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">Do you take any vitamins, minerals or other diet suppliments?</div>
								<div class="panel-body">
									
									<%= fn.radio_button :take_vitamin_mineral_diet_supplement_type, true %> 
								  <%= label :take_vitamin_mineral_diet_supplement_type, 'Yes' %>
								  <%= fn.radio_button :take_vitamin_mineral_diet_supplement_type, false %>
								  <%= label :take_vitamin_mineral_diet_supplement_type, 'No' %>

									<div class="row">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<div class="form-group">
												<label>if yes, what?</label>
												<%= fn.text_area :take_vitamin_mineral_diet_supplement_type, :class=>"form-control",:row=>2%>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">Do you exercise now?</div>
								<div class="panel-body">

									<%= fn.radio_button :do_you_exercise_now, true %> 
								  <%= label :do_you_exercise_now, 'Yes' %>
								  <%= fn.radio_button :do_you_exercise_now, false %>
								  <%= label :do_you_exercise_now, 'No' %>

									<div class="row margin-top10">
										<div class="col-md-12 col-sm-12 col-xs-12">
											
											<div class="exerciseNow">
											  <%= fn.fields_for :exercises do |builder| %>
											    <%= render "/patients/exercise_fields", :f => builder %>
											  <%end %>
											  
												<span><%= link_to_add_fields "Add more", fn, :exercises %></span>

											</div>

										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-4 col-sm-4 col-xs-12">
									<div class="form-group">
										<button class="add-btn blue-bg btn-lg"><i class="icon icon-dashboard"></i> Save & Continue</button>
									</div>
									
								</div>
							</div>

							<%end%>
							
						</div>
						<!-- 4 -->
						
						
						
						<div id="DiabetesHistory" class="tab-pane fade in <%= tab_active(@_tab,4)%>">
						  <h3>Diabetes History</h3>
						  <%= f.fields_for :diabetes_history do |fd| %>
						  
						  <div class="panel panel-default">
								<div class="panel-heading font-regular">Type of Diabetes</div>
								<div class="panel-body">

									<% DiabetesHistory::DIABETES_TYPE.each do |type|%>
									<label class="checkbox-inline">
										<%= fd.radio_button :diabetes_type, type %>&nbsp;<%= type%>
									</label>
									<%end%>
								
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">When were you diagnosed?</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-2 col-sm-3 col-xs-12">
											<div class="form-group">
												<label>Month</label>
												<%= fd.text_field :diagnosed_month,:class=>"form-control",:placeholder =>"Month" %>
											</div>
										</div>
										<div class="col-md-2 col-sm-3 col-xs-12">
											<div class="form-group">
												<label>Year</label>
												<%= fd.text_field :diagnosed_year,:class=>"form-control",:placeholder =>"Year" %>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">Does anyone in your faimly have diabetes? </div>

								<div class="panel-body">

									<%= fd.radio_button :any_one_in_family_have_diabetes, true %> 
								  <%= label :any_one_in_family_have_diabetes, 'Yes' %>
								  <%= fd.radio_button :any_one_in_family_have_diabetes, false %>
								  <%= label :any_one_in_family_have_diabetes, 'No' %>

									<div class="row">
										<div class="col-md-5 col-sm-5 col-xs-12">
											<div class="form-group">
												<label>Whom?</label>
												<%= fd.text_field :whome_have_diabetes_family,:class=>"form-control" %>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">Have you had previous diabetes education?</div>
								<div class="panel-body">


									<label class="checkbox-inline">
									  <%= fd.radio_button :have_previous_diabets_education, false %>No 
									</label>
									<label class="checkbox-inline">
									  <%= fd.radio_button :have_previous_diabets_education, true %>Yes
									</label>

									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label>from whom?</label>
												<%= fd.text_field :previous_diabetes_education_from_whome,:class=>"form-control" %>
											</div>
										</div>
									</div>
								</div>
							</div>


							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">In your own words, what is diabetes?</div>
								<div class="panel-body">
									<div class="form-group">
										<%= fd.text_area :own_words_diabetes,:class=>"form-control" %>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">What are you most interested in learning from these diabetes education sessions?</div>
								<div class="panel-body">
									<div class="row">

										<% DiabetesHistory::EDUCATION_SESSION_OPTIONS.each do |value| %>
										<div class="col-md-3 col-sm-3 col-xs-12">
										<%status = fd.object.intersting_learning_diabetes_session.include?(value) if !fd.object.intersting_learning_diabetes_session.blank? %>
										  <%= check_box_tag "patient[diabetes_history_attributes]intersting_learning_diabetes_session[]",value,status %>
										  <%= value %>
										</div>
										<% end %>

									</div>
								
								</div>
							</div>
							
							
							
							<h3>Testing Your Blood Sugar</h3>
							<div class="panel panel-default">
								<div class="panel-heading font-regular">Do you test your blood sugar at home? </div>
								<div class="panel-body">

									<%= fd.radio_button :test_blood_sugar_at_home, true %> 
								  <%= label :test_blood_sugar_at_home, 'Yes' %>
								  <%= fd.radio_button :test_blood_sugar_at_home, false %>
								  <%= label :test_blood_sugar_at_home, 'No' %>

									<div class="row">
										<div class="col-md-5 col-sm-5 col-xs-12">
											<div class="form-group">
												<label>If yes, what meter do you use?</label>
												<%= fd.text_field :what_meter_use,:class=>"form-control" %>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading font-regular">How often do you test your blood sugar each day?</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-3 col-sm-4 col-xs-12">
											<div class="form-group">
												<label>In a day</label>
												<%= fd.select :test_blood_sugar_in_a_day, options_for_select([["1",1],["2",2],["3",3],["4",4]]),{prompt: true}, {:class => 'form-control'}%>
											</div>
										</div>
										<div class="col-md-3 col-sm-4 col-xs-12">
											<div class="form-group">
												<label>In a week</label>
												<%= fd.select :test_blood_sugar_in_a_week, options_for_select([["1",1],["2",2],["3",3],["4",4],["5",5],["6",6],["7",7]]),{prompt: true}, {:class => 'form-control'}%>
											</div>
										</div>
									</div>
								</div>
							</div>


							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">When do you test?</div>
								<div class="panel-body">
										<div class ="row">
										<% DiabetesHistory::TEST_OPTIONS.each do |value| %>
										<%status = fd.object.when_did_you_test.include?(value) if !fd.object.when_did_you_test.blank? %>
										<div class="col-md-4 col-sm-4 col-xs-12">
										  <%= check_box_tag "patient[diabetes_history_attributes]when_did_you_test[]",value,status %>
										  <%= value %>
										</div>
										<% end %>
										</div>


									<div class="row">
										<div class="col-md-5 col-sm-5 col-xs-12">
											<div class="form-group">
												<label>Other</label>
												<%= fd.text_field :when_did_you_test_other,:class=>"form-control" %>
											</div>
										</div>
									</div>



								</div>
							</div>
							
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">In the last month, how often have you had a low blood sugar reaction?</div>
								<div class="panel-body">
									<div class="row">

										<% DiabetesHistory::LOW_BLOOD_SUGAR.each do |value| %>
										<%status = fd.object.last_month_low_blood_sugar.include?(value) if !fd.object.last_month_low_blood_sugar.blank? %>
										<div class="col-md-3 col-sm-3 col-xs-12">
										  <%= check_box_tag "patient[diabetes_history_attributes]last_month_low_blood_sugar[]",value,status %>
										  <%= value %>
										</div>
										<% end %>

									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">What do you do when your blood sugar is too high? </div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-5 col-sm-5 col-xs-12">
											<div class="form-group">
												<%= fd.text_field :what_you_do_when_sugar_high,:class=>"form-control" %>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">What do you do when your blood sugar is too low? </div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-5 col-sm-5 col-xs-12">
											<div class="form-group">
												<%= fd.text_field :what_you_do_when_sugar_low,:class=>"form-control" %>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading font-regular">In the last 12 months, have you been to an emergency room for a diabetes related event?</div>
								<div class="panel-body">
									<label class="checkbox-inline">
									  <%= fd.radio_button :in_emergency_room_for_diabets, false %> No
									</label>
									<label class="checkbox-inline">
									  <%= fd.radio_button :in_emergency_room_for_diabets, true %> Yes
									</label>
									
									<div class="row">
										<div class="col-md-4 col-sm-4 col-xs-12">
											<div class="form-group">
												<label>Month</label>
												<%= fd.select :in_emergency_room_for_diabets_month, options_for_select([["1",1],["2",2],["3",3],["4",4],["5",5],["6",6],["7",7],["8",8],["9",9],["10",10],["11",11],["12",12]]),{prompt: true}, {:class => 'form-control'}%>
											</div>
										</div>
									</div>
								</div>
							</div>

						<!-- 	<div class="panel panel-default">
								<div class="panel-heading font-regular"><b>Pregnancy:</b> Have you ever been pregnant?</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-3 col-sm-4 col-xs-12">
											<label class="checkbox-inline">
											  <input type="checkbox" value="">Not applicable
											</label>
										</div>
										<div class="col-md-2 col-sm-4 col-xs-12">
											<label class="checkbox-inline">
											  <input type="checkbox" value="">No
											</label>
										</div>
										<div class="col-md-2 col-sm-4 col-xs-12">
											<label class="checkbox-inline">
											  <input type="checkbox" value="">Yes
											</label>
										</div>
									</div>
									<br>
									<div class="table-overflow">
										<table class="table table-bordered">
											<thead>
												<tr>
													<th width="300">Child's birth year</th>
													<th width="300">Child's birth weight</th>
													<th class="text-right">Did you have gestational diabetes?</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>
														<select class="form-control">
															<option>select year</option>
															<option>1990</option>
															<option>1990</option>
															<option>1990</option>
														</select>
													</td>
													<td>
														<select class="form-control">
															<option>select weight</option>
															<option>2kg</option>
															<option>3kg</option>
															<option>5kg</option>
														</select>
													</td>
													<td class="text-right">
														<label class="checkbox-inline">
															<input type="checkbox" value="">No
														</label>
														<label class="checkbox-inline">
															<input type="checkbox" value="">Yes
														</label>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div> -->


							<div class="row">
								<div class="col-md-3 col-sm-4 col-xs-12">
									<div class="form-group">
										<button class="add-btn blue-bg btn-lg"><i class="icon icon-dashboard"></i> Save & Continue</button>
									</div>
									
								</div>
							</div>

							<%end%>
						</div>
						<!-- 5 -->

						<div id="ExitForm" class="tab-pane fade in <%= tab_active(@_tab,5)%>">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<div class="form-group">
										<label>Reason for non-enrolment</label>
										<%= f.text_field :reason_for_non_enrollment,:class=>"form-control",:placeholder=>"Reason for non-enrolment" %>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<div class="form-group">
										<label>Date of Dropout</label>
										<%= f.text_field :reason_for_non_enrollment,:class=>"form-control date-picker",:placeholder=>"Select date" %>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<div class="form-group">
										<label>Reason for Dropout</label>
										<%= f.text_field :reason_for_non_enrollment,:class=>"form-control",:placeholder=>"Reason for Dropout" %>
									</div>
								</div>
							</div>
							
							
							<div class="row">
								<div class="col-md-4 col-sm-4 col-xs-12">
									<div class="form-group">
										<button class="add-btn blue-bg btn-lg"><i class="icon icon-dashboard"></i> Submit</button>
									</div>
									
								</div>
							</div>
						</div>

						<!-- 6 -->
						
					  </div>	
				    <%end%>
						  
			  </div>
				<!-- ................. -->
			

			</div> <!-- second div ends-->
		</div> <!-- first div ends-->

		