		<div class="main-div">
			<div class="page-title">
				<h1 class="pull-left">Dashboard</h1>
				<div class="pull-right">
					<a href="" class="add-btn red-bg"><i class="icon icon-import"></i> Export Patient Data</a>
					<a href="/patients/new" class="add-btn"><i class="icon icon-add-1"></i> Add New Patient</a>
				</div>
			</div>
			<div class="white-bg">
			
				

				<%= form_tag patients_path, :method => 'get', :id => "patient_search" do %>
				  <div class="search_div_parent">
				  	<%= hidden_field_tag :direction, params[:direction] %>
						<%= hidden_field_tag :sort, params[:sort] %>
						<div class="search_div">
				    <%= text_field_tag :search, params[:search],{:class=>"form-control",:placeholder => "search"} %>
				  </div>
				  </div>
				   <!-- <div id="patients"><%#= render 'patients' %></div>  -->
				<% end %>


		
			<div id="patients"><%= render 'patients' %></div>


			</div>
			</div>
		</div>

		<script>
			$(function() {
				 $("#search").on("keyup",function() {
			    $.get($("#patient_search").attr("action"), $("#patient_search").serialize(), null, "script");
			    return false;
			  });
			});	 
		</script>